<!-- views/partials/_navbar.ejs -->
<nav class="navbar">
    <div class="nav-logo">
        <a href="/">Trip Planner</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/trips">All Trips</a></li>
        <li><a href="/trips/new" class="add-trip-btn">+ Add New Trip</a></li>
    </ul>
</nav>