<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- css -->
     <link rel="stylesheet" href="/css/style.css"/>
    <title>Travel Plannner</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <h1 class="background-text">Welcome to your Travel Planner!</h1>
    <h2 class="background-text1">An app for organizing all of your trips</h2>
    <img class="travel-pic1" src="/imgs/travelPlanner.webp" alt="travelling luggage illustration" style="border-radius: 10px;">

</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>