<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- css -->
     <link rel="stylesheet" href="/css/style.css"/>
    <title>Travel Plannner</title>
</head>
<body>
    <h1>Welcome to your Travel Planner!</h1>
    <img class="travel-pic1" src="/imgs/travelPlanner.webp" alt="travelling luggage illustration">
   
    <p>An app for organizing all of your trips</p>
    <nav>
        <ul>
            <li>
                <a class="trip-index-link" href="/trips">Browse Trips</a>

            </li>

            <li>
                <a href="/trips/new">Add a New Trip</a>
            </li>
        </ul>
    </nav>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>